# Enable aliases to be sudo'ed
alias sudo='sudo '

# enable color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
fi

export platform=`uname`
if [[ $platform == 'Darwin' ]]; then
    alias mycopy='pbcopy'
    alias mypaste='pbpaste'
    alias ls='ls -CFG'
    alias ll='ls -alFh | grep "^d" && ls -alFh | grep -v "^d"'
    # gls from gnu's coreutils
    if gls --color > /dev/null 2>&1; then
        alias ls='gls -CF --color=auto'
        alias ll='gls -alFh --color=auto --group-directories-first'
    fi
elif [[ $platform == 'Linux' ]]; then
    alias mycopy='xclip -selection clipboard'
    alias mypaste='xclip -selection clipboard -o'
    if ls --color > /dev/null 2>&1; then
        alias ls='ls -CF --color=auto'
        alias ll='ls -alFh --group-directories-first'
    fi
fi

alias la='ls -A'
alias lh='ls -lt | head'
alias lls='ll -S'
alias llt='ll -t'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# sudo apt-get install tree
alias tree='tree --charset=ASCII'
alias tree1='tree --dirsfirst -FL 1'
alias tree2='tree --dirsfirst -FL 2'
alias tree3='tree --dirsfirst -FL 3'

alias path='echo -e ${PATH//:/\\n}'
alias timestamp='date +"%F-%s"'

alias h='history'
alias c='clear'
alias j='jobs -l'

function fname() { find . -iname "*$@*";  }
function psgrep() { ps axuf | grep -v grep | grep "$@" -i --color=auto;  }

# mkdir <dir>
alias mkdir='mkdir -pv'

alias sha1='shasum'
alias md5='md5sum'
which shasum > /dev/null && alias sha1='openssl sha1'
which md5sum > /dev/null && alias md5='openssl sha1'

which colordiff > /dev/null && alias diff='colordiff'

# Make mount command output pretty and human readable format
#alias mount='mount |column -t'

# Start calculator with math support
alias bc='bc -l'

# Show IP address
# $ ip addr
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias myip="ip addr show eth0 | grep inet | awk '{ print $2; }' | sed 's/\/.*$//'"
alias myip2="hostname -I"

# Show TCP/UDP ports
alias ports='netstat -tulan'

# Show Listening/Server ports
alias lports='netstat -na | grep "LISTEN "'
alias lports2='sudo netstat -tlnp'

# Get web server headers #
# $ header <url>
alias header='curl -I'

# Find out if remote server supports gzip / mod_deflate or not #
# $ headerc <url>
alias headerc='curl -I --compress'

# Resume wget by default
alias wget='wget -c'

# Monitor HTTP traffic
# $ ngrephttp eth0
# $ ngrephttp wlan0
function ngrephttp {
    sudo ngrep -d $1 -t '^(GET|POST) ' 'tcp and port 80'
}

function httpdump {
    sudo tcpdump -i $1 -n -s 0 -w - | grep -a -o -E "Host\: .*|GET \/.*"
}

# $ urlencode "test string"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Get free memory in MB
alias meminfo='free -m -l -t'

# Get disk usage
alias df='df -h'

# Get directory size
# $ ds <dir>
alias ds='du -sh'

# Get top process eating memory
alias psmem='ps aux | sort -nr -k 4'
alias psmem3='ps aux | sort -nr -k 4 | head -3'
alias psmem10='ps aux | sort -nr -k 4 | head -10'

# Get top process eating cpu
alias pscpu='ps aux | sort -nr -k 3'
alias pscpu3='ps aux | sort -nr -k 3 | head -3'
alias pscpu10='ps aux | sort -nr -k 3 | head -10'

# Get info
# Linux:
alias cpuinfo='lscpu' # cat /proc/cpuinfo
alias usbinfo='lsusb' #
alias modinfo='lsmod' # cat /proc/modules
alias pciinfo='lspci' #

# Get GPU ram on desktop / laptop
# Linux:
alias gpumeminfo='grep -i --color memory /var/log/Xorg.0.log'

# Show/hide hidden files in Finder
# Mac:
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

alias ea='vi ~/.aliases'
alias eb='vi ~/.bashrc'
alias ev='vi ~/.vimrc'
alias sbash='source ~/.bashrc'

alias sav='cd /etc/apache2/sites-available'
alias doc='cd ~/Documents'
alias dl='cd ~/Downloads'
alias dr='cd ~/Dropbox'
alias p='cd ~/Projects'

alias cpsshkey='xclip -sel clip < ~/.ssh/id_rsa.pub'
alias sshkey='cat ~/.ssh/id_rsa.pub'

function bfg { java -jar ~/dotfiles/bin/bfg.jar $@; }
